# API Keys and Secrets
Secrets.swift
Config.xcconfig

# Xcode
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.swiftpm/
.build/

# Other
.DS_Store
